html, body {
    background: #1a1a1b;
    height: 100%;
    margin: 0;
    padding: 0;
}

.imageContainer {
    width: 96%;
    height: 96%;
    max-width: 800px;
    max-height: 600px;
    position: absolute;
    overflow: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #2b2b2c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.imageContainer > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    cursor: move;
    touch-action: none;
}

#hud {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    padding: 10px 20px;
    color: #FFF;
    font-family: sans-serif;
    font-size: 1.2em;
    pointer-events: none;
}